@import "vanilla-framework";
@include vf-base;
@include vf-p-icons;

.p-card {
  overflow: hidden;
}

.p-card__content {
  cursor: pointer;
  height: 100%;
  overflow: hidden;
}

.sc-package-card {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.sc-package-card__body {
  flex-grow: 1;
  display: flex;
  flex-flow: column;
}

.sc-package-card__body :hover {
  text-decoration: none;
}

.sc-package-card__header {
  flex-shrink: 0;
}

.sc-package-card__footer {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin-top: auto;
}

.sc-package-card__footer-content {
  display: flex;
  justify-content: space-between;
}

.sc-package-card__footer-link {
  display: block;
}

.sc-platform {
  align-items: center;
  display: flex;
  margin-left: auto;
}

.sc-charm-bundle-icon {
  align-items: center;
  background-image: url("https://assets.ubuntu.com/v1/be6eb412-snapcraft-missing-icon.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 0.06rem solid #d9d9d9;
  border-radius: 0.75rem;
  box-sizing: content-box;
  display: inline-flex;
  font-size: 0.875rem;
  height: 1.5rem;
  justify-content: center;
  margin-right: 0.25rem;
  overflow: hidden;
  width: 1.5rem;
}

.sc-charm-bundle-count {
  font-size: 0.875rem;
}

.star-rating {
  display: inline-block;
  padding-bottom: 1rem;
}

.p-icon--star-filled {
  @extend %icon;

  background-image: url("https://assets.ubuntu.com/v1/1d918a74-starY.svg");
}

.p-icon--star-empty {
  @extend %icon;

  background-image: url("https://assets.ubuntu.com/v1/33a591b4-starG.svg");
}

.p-icon--star-half-filled {
  @extend %icon;

  background-image: url("https://assets.ubuntu.com/v1/64f5fc15-Star%20half.svg");
}

.total-ratings {
  margin-left: 8px;
}

.sc-platform-icon {
  margin-right: 0.25rem;
}

.u-line-clamp {
  -webkit-box-orient: vertical;
  display: -webkit-box; // stylelint-disable-line
  -webkit-line-clamp: 5;
  overflow: hidden;
}
