.p-card--placeholder {
  @keyframes shine {
    0% {
      background-position: right;
    }

    100% {
      background-position: left;
    }
  }

  animation: shine 3s infinite ease-in-out;
  background-image: linear-gradient(
    to bottom right,
    #e5e5e5 calc(50% - 2rem),
    #f7f7f7 50%,
    #e5e5e5 calc(50% + 2rem)
  );
  background-size: 300% 300%;
  clip-path: url("#animation-mask");
}
