@import "vanilla-framework";
@include vf-base;
@include vf-p-icons;

.sc-rock-card {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.sc-rock-support-chip {
    opacity: 0.7;
    height: 22px;
    min-width: 39px;
    padding: 0;
}

.sc-rock-card__footer {
    margin-top: auto;
}

.sc-rock-card__details-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.sc-rock-card__footer-content {
    display: flex;
    justify-content: space-between;
}
