.children-footer {
  padding-bottom: 2rem;
}

.p-inline-list {
  padding-top: 4rem;
}

.p-icon--chevron-up {
  background-size: 0.8rem 0.8rem;
  margin-left: 0.25rem;
}

.main-footer {
  padding-top: 2rem;
}
